@using System.Diagnostics.CodeAnalysis
<FluentTreeView @bind-CurrentSelected=currentSelected OnExpandedChange="HandleOnExpandedChanged">
   
       @if (Project != null)
       {
           
       <FluentTreeItem Text="@ProjectName">
           @foreach (var item in Project.Roots)
           {
        <FluentTreeItem Text="@item.Name">
    
                   @if (item is SdyFolder folder)
                   {
                       foreach (var obj in folder.Elements)
                       {
                           if (obj is SdyFileRef fileRef)
                           {
                               <FluentTreeItem Text="@fileRef.PersistAs"/>
                           }
                       }
                   }
        </FluentTreeItem>
               <br/>
           }
           
       </FluentTreeItem>
       }
</FluentTreeView>

<p>Current selected tree item is @currentSelected?.Text</p>
<p>Most recently expanded/collapsed tree item is @currentAffected?.Text</p>

@code
{
    [Parameter]
    public double NewSize { get; set; }
    
    [Parameter]
    public SdyConfiguration? Project { get; set; }
    
    
    [Parameter]
    public string? ProjectName { get; set; }
    
    
    bool FlowersExpanded = true;
    bool PlanesExpanded = true;
    bool DaisySelected = false;
    bool SunflowerSelected = true;
    bool RoseSelected = false;


    FluentTreeItem? currentSelected;
    FluentTreeItem? currentAffected;

    private void HandleOnExpandedChanged(FluentTreeItem item)
    {
        currentAffected = item;
    }
}