
<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: start; ">
    
    <h4>Properties</h4>
    <FluentTextField @bind-Value=value5 ReadOnly="true">dafasf</FluentTextField>
    <br>
    <FluentTextField  @bind-Value=value6 ReadOnly="true">label</FluentTextField>

</div>

@code {
    string?  value5="Read only", value6="Read only";
}
