@using ParseSuite

<div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: start; ">
    
    <h4>Properties</h4>
    @if (SelectedItem is SdyFolder folder )
    {
        <FluentTextField @bind-Value=folder.Name ReadOnly="true">folder name</FluentTextField>
        <br>
        <FluentTextField  @bind-Value=folder.Extensions ReadOnly="true">folder extension</FluentTextField>
    }
    
    @if (SelectedItem is SdyFileRef fileRef )
    {
        <FluentTextField  @bind-Value=fileRef.PersistAs  ReadOnly="true">file PersistAs </FluentTextField>
    }
    
    @if (SelectedItem is SSInput ||  SelectedItem is SSOutput )
    {
        <FluentTextField @bind-Value=@_name ReadOnly="true"> name</FluentTextField>
        <br>
        <FluentTextField @bind-Value=@_dataType ReadOnly="true"> DataType</FluentTextField>
    }
    
</div>

@code {
    [Parameter]
    public object? SelectedItem { get; set; }
    
    private string? _name;
    private string? _dataType;

    protected override void OnParametersSet()
    {
        if (SelectedItem  is SSInput  input)
        {
            _name = input.Name;
            _dataType = input.DataType;
        }
        
        if (SelectedItem  is SSOutput  output)
        {
            _name = output.Name;
            _dataType = output.DataType;
        }
        
        
        if (SelectedItem  is SdyElement element)
        {
            SelectedItem = element;
        }
        base.OnParametersSet();
    }

}