@using Blazor.Diagrams.Components

@using Blazor.Diagrams.Components.Widgets
@using ParseSuite
@inject IJSRuntime Js

<div style="width:100%; height:100%; ">
   @*  <div id="container"></div> *@

       <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas>
            		<Widgets>
            			<GridWidget Size="30" Mode="GridMode.Line" BackgroundColor="white" />
            		</Widgets>
        </DiagramCanvas>
    </CascadingValue>
</div>