@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider auth
@inject NavigationManager Nm

<div class="page">


@*     <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
@*        
    <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> 
*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />


@code{

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		var user = await auth.GetAuthenticationStateAsync();


		var ca = user.User.Claims;
		Console.WriteLine(ca);
		if (user.User.Identity is null || !user.User.Identity.IsAuthenticated)
		{
			Nm.NavigateTo("/login");
		}
		else
		{
			// var ca = user.User.Claims;
			// Console.WriteLine(ca);
			/*	
			if (ca != null)
			{
				authService.LoadToken(ca);
			}
			Name = authService.GetNickName();
		*/
		}


	}
}