@page "/"
@using ScadeSuiteWeb.Shared.ViewModels.User
@inject IToastService ToastService
<PageTitle>Home</PageTitle>

<FluentCard Width="800px" Height="400px">
    <FluentStack Orientation="Orientation.Vertical"
                 HorizontalAlignment="HorizontalAlignment.Center"
                 VerticalAlignment="VerticalAlignment.Top"
                 VerticalGap="20">
        @*Leaving the following line for debugging purposes *@
        @*Style="border: 1px dotted rebeccapurple *@
        <h2>Scade Suite Web Platform</h2>
        @* 占位符，让内容向下走一点 *@
        <div></div>
        <div></div>
        <div>
            <FluentTextField @bind-Value=userVm.UserName Label="Username"></FluentTextField>
        </div>
        <div>
            <FluentTextField @bind-Value=userVm.Password Minlength="4" Label="Password"></FluentTextField>
        </div>
        <div>
            <FluentButton
                Appearance="Appearance.Accent"
                OnClick="@StartLoadingAsync">
                登录
            </FluentButton>
        </div>

    </FluentStack>
</FluentCard>

<p>You entered UserName: @userVm.UserName</p>
<p>You entered Password: @userVm.Password</p>

@code {
    public UserVM userVm = new UserVM();
    // get the current user's information and sent it to the server for authentication
     private void StartLoadingAsync(MouseEventArgs obj)
     {
         Console.WriteLine(  userVm.UserName + " -- " + userVm.Password );
     }
}